@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
body {
  width: 100%;
  background-color: #1b1b1b;
}
/* navigation section */

nav.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #1b1b1b;
  padding-left: 35px;
  padding-right: 50px;
  height: 15vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  color: white;
  font-weight: 900;
}
div.logo img {
  width: 5rem;
  height: auto;
}
ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
ul li {
  margin: 0 1rem;
}
ul li a {
  text-decoration: none;
  color: rgb(196, 196, 196);
  font-size: 1.5rem;
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0 0.7rem;
}
a.active {
  color: white;
}
a.active::after {
  position: absolute;
  content: "";
  height: 3px;
  bottom: -5px;
  width: 100%;
  background-color: #ce2727;
}
ul li a::after {
  position: absolute;
  content: "";
  height: 3px;
  bottom: -5px;
  width: 0%;
  background-color: #ce2727;
  left: 0%;
  transition: all 0.3s ease-in;
}
a:hover {
  color: white;
}
li a:hover:after {
  width: 100%;
}
/* navigation icon */

label.menu-btn i {
  color: white;
  font-size: 2.4rem;
  display: none;
  cursor: pointer;
}
input[type="checkbox"] {
  display: none;
}

/* navigation menu ends here */

/* hero section starts here  */
body {
  background-color: 1b1b1b;
  width: 100%;
}
.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 100%;
  color: #ce2727;
  /* background-color: black; */
  padding: 4rem 15rem;
  padding-bottom: 9rem;
  overflow-x: hidden;
  max-width: 100vw;
}
.hero::before {
  content: "";
  position: absolute;
  background-image: url(https://as2.ftcdn.net/v2/jpg/01/05/58/87/1000_F_105588705_GFWhMLIhgnNHfrUFa5CPFbxAXAz8B9cI.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: inherit;
  width: 100%;
  top: 0%;
  left: 0%;
  z-index: -1;
  opacity: 0.3;
}
.hero p {
  color: white;
  font-size: 3rem;
  z-index: 10;
  font-weight: 900;
  text-shadow: 0px 0px 30px rgb(116, 116, 116);
  margin: 0rem 0rem;
  margin-bottom: 2rem;
}
button.btn {
  text-transform: capitalize;
  background-color: rgb(10, 172, 172);
  border-radius: 1rem;
  box-shadow: 0px 0px 20px rgb(117, 115, 115);
  border: none;
  width: 9rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 800;
  font-weight: bold;
  transition: 0.2s ease-in;
}
button.btn:active,
.btn:hover {
  background-color: #ce2727;
  box-shadow: 0px 0px 30px rgb(184, 184, 184);
  transform: scale(1.1);
}
div.section {
  overflow-x: hidden;
}
/* services section starts here  */
div.services {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  color: white;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #1b1b1b;
}
div.service {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: fit-content;
  margin-bottom: 4rem;
}
div.services h1 {
  position: relative;
  top: -4rem;
  font-weight: 900;
  font-size: 3rem;
  text-shadow: 5px 4px 16px rgba(136, 135, 135, 0.5);
}
div.box:hover {
  background-color: rgba(119, 119, 119, 1);
  box-shadow: 0px 0px 20px 0px rgb(24, 107, 107, 0.8);
}
div.box img.services-img:hover {
  transform: scale(1.1);
}
/* global values  */
div.box {
  background-color: rgba(119, 119, 119, 0.7);
  width: 30%;
  border-radius: 2rem;
  padding: 1rem 2rem;
  transition: all 0.3s ease-in-out;
}
div.box p {
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
}
div.box img.services-img {
  height: auto;
  width: 100%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

/* services section ends here  */

/* clients section starts here   */

.clients {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100vw;
  height: 30vh;
  background-color: rgb(63, 63, 63);
  justify-content: center;
  padding: 2rem 0;
}
.clients p {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  text-shadow: 3px 2px 8px rgba(0, 0, 0, 0.5);
}
.clients-img {
  display: flex;
  justify-content: space-evenly;
}
.clients-img img:hover {
  scale: 1.2;
  filter: drop-shadow(5px 5px 5px cyan);
}
.clients-img img {
  width: 10%;
  height: auto;
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(5px 5px 5px #272727);
  cursor: pointer;
}
